/node_modules
/vendor
/.git
/.gitignore
/.env
/.env.backup
/.env.production
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/public/hot
/public/storage
/public/build
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
*.md
!README.md

